body {
    background-color: #48a56e;
}

.main-container li{
    list-style: none;
}

.main-container a{
    text-decoration: none;
    color: #ebebeb;
}

.block {
    background-color: #17616acc;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.main-container h2 {
    text-transform: uppercase;
    color: #ebebeb;
}

.main-container {
    padding: 1rem;
}

